<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.balloonapp">
    
    <!--this requests camera permission-->

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"
                android:required="true" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- it is in the manifest file
     "uses-feature" asks android to access a feature defined by the name that follows -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
